*{
    margin: 0;
    padding: 0;
}

body{
    background: #fff;
    font-style: Arial,Helvetica,sans-serif;
}

.nav{
    border: 1px solid #ccc;
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 5px;
    text-align: center;
}

.nav a{
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 20px;
}

.nav a:hover{
    background-color: #5bbfbb;
    transition-duration: 1.5s;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.page-title{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
    color:#5bbfbb;
    font-weight:600;
    font-size: 40px;
    font-style: italic;
}


.t1 img{
    width: 70%;
    display: block;
    margin-left: 15%;
    margin-right: auto;
    position: relative;
  }
  
.t1 img{
    border-radius: 40px;
}

.post{
    /*font-size: "sans-serif";*/
    text-align: center;
    font-style: italic;
    margin-top: 30px;
    font-size: 18px;
    line-height: 190%;
    /*text-decoration: none;*/
    /*text-align-last: center;*/
    color: #5bbfbb;
}

.box1{
    position: relative;
}

.first{
  width: 70%;
  padding: 30px;
  border: 5px solid white;
  margin: 0;
  margin-left: 14%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 450;
}

.btn-continue{
    border: 2px solid black;
    border-radius: 0px;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 15px;
    cursor: pointer;
    margin-left: 43%;
    border-radius: 20px;
}

.btn-continue:hover{
    background-color:  #5bbfbb;
    transition-duration: 1s;
}

.footer{
  background-color:#363639;
  width: 100%;
  padding: 20px;
  border: 0px solid white;
  margin: 0;
}

p{
    text-align: center;
    color: #b3b3b3;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#scrollToTopBtn {
    background-color: white;
    border: none;
    border-radius: 50%;
    border-color: black;
    cursor: pointer;
    font-size: 16px;
    width: 70px;
    height: 70px;
    margin-left:92%;
  }
  
  #scrollToTopBtn:hover{
      background-color: #5bbfbb;
      transition-duration: 1.2s;
  }